html {
  font-family: 'Courier New', Courier, monospace;
}

.lists {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.list-container {
  border: solid #1e1e1e;
  padding: 0.5em;
  user-select: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 20em;
  /* min-height: 500px; */
  height: 100%;
}

.game-row {
  display: flex;
  gap: 0.5em;
  background-color: #eee;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 2px;
}

.game-row:hover {
  background-color: #ddd;
}

.dragging {
  background-color: #bbb;
}

.list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}